In [1]:
import csv  
import pandas as pd
 
df_names = pd.DataFrame()
df_nodes = pd.DataFrame()


df_names = pd.read_csv('/home/acer1/Desktop/taxadmp/names.dmp',delimiter='\t',header=None)
df_nodes = pd.read_csv('/home/acer1/Desktop/taxadmp/nodes.dmp',delimiter='\t',header=None)

In [2]:
df_nodes = df_nodes[[0,2,4]] 
df_names = df_names[[0, 2, 6]]
print(df_names.head()  , df_nodes.head())

   0            2                6
0  1          all          synonym
1  1         root  scientific name
2  2     Bacteria  scientific name
3  2       Monera          in-part
4  2  Procaryotae          in-part    0       2             4
0  1       1       no rank
1  2  131567  superkingdom
2  6  335928         genus
3  7       6       species
4  9   32199       species

In [3]:
df_names = df_names[df_names[6]=='scientific name'][[0,2]]
print(df_names.head())

    0                         2
1   1                      root
2   2                  Bacteria
12  6              Azorhizobium
16  7  Azorhizobium caulinodans
27  9       Buchnera aphidicola

In [12]:
df_names.index = range(1853798)
df_names.head()

   0                         2
0  1                      root
1  2                  Bacteria
2  6              Azorhizobium
3  7  Azorhizobium caulinodans
4  9       Buchnera aphidicola

In [5]:
df_merge = pd.DataFrame()
df_merge = df_nodes.merge(df_names[[0,2]],how = "left",left_on = [0],right_on= [0])

In [6]:
df_merge = df_merge.rename(columns={0:'taxa_ids','2_x':'parent_id',4:'rank','2_y':'scientfic_name'})

In [11]:
df_merge

,taxa_ids,parent_id,rank,scientfic_name
0,1,1,no rank,root
1,2,131567,superkingdom,Bacteria
2,6,335928,genus,Azorhizobium
3,7,6,species,Azorhizobium caulinodans
4,9,32199,species,Buchnera aphidicola
5,10,1706371,genus,Cellvibrio
6,11,1707,species,Cellulomonas gilvus
7,13,203488,genus,Dictyoglomus
8,14,13,species,Dictyoglomus thermophilum
9,16,32011,genus,Methylophilus
10,17,16,species,Methylophilus methylotrophus
11,18,213421,genus,Pelobacter
12,19,18,species,Pelobacter carbinolicus
13,20,76892,genus,Phenylobacterium
14,21,20,species,Phenylobacterium immobile
15,22,267890,genus,Shewanella
16,23,22,species,Shewanella colwelliana
17,24,22,species,Shewanella putrefaciens
18,25,22,species,Shewanella hanedai
19,27,49928,species,halophilic eubacterium NRCC 41227
20,28,49928,species,halophilic eubacterium
21,29,28221,order,Myxococcales
22,31,80811,family,Myxococcaceae
23,32,31,genus,Myxococcus
24,33,32,species,Myxococcus fulvus
25,34,32,species,Myxococcus xanthus
26,35,32,species,Myxococcus macrosporus
27,38,47,species,Archangium disciforme
28,39,80811,family,Archangiaceae
29,40,39,genus,Stigmatella
...,...,...,...,...
1853783,2306875,37818,no rank,unclassified Dendrobium
1853784,2306891,12333,species,Microbacterium phage Christoph
1853785,2306892,12333,species,Microbacterium phage Pocket
1853786,2306898,75735,species,Starmerella neotropicalis
1853787,2306942,446270,species,Andrena tinaria
1853788,2306958,1661750,subspecies,Neourostylopsis flava paraflava
1853789,2306987,590,species,Salmonella sp. FDA00013436
1853790,2306988,590,species,Salmonella sp. FDA00013435
1853791,2306989,590,species,Salmonella sp. FDA00013437
1853792,2306990,1751296,species,Sinorhodobacter sp. 24D10-4-9
1853793,2306991,1751296,species,Sinorhodobacter sp. 2D-5
1853794,2306992,1751296,species,Sinorhodobacter sp. D19-10-3-21
1853795,2306993,1751296,species,Sinorhodobacter sp. 07D10-4-3
1853796,2306994,1751296,species,Sinorhodobacter sp. SK2B-1
1853797,2306995,361177,species,Altererythrobacter sp. Ery1
1853798,2306996,361177,species,Altererythrobacter sp. Ery12
1853799,2306997,111500,species,Muricauda sp. NH166
1853800,2306998,111500,species,Muricauda sp. 72
1853801,2306999,590,species,Salmonella sp. FDA00013439
1853802,2307000,590,species,Salmonella sp. FDA00013440
1853803,2307001,590,species,Salmonella sp. FDA00013438
1853804,2307003,1041,species,Erythrobacter sp. V18
1853805,2307012,305063,species,Promicromonosporaceae bacterium KCTC 49093
1853806,2307035,3200,family,Harpanthaceae
1853807,2307098,1883,species,Streptomyces sp. B-1568
1853808,2307099,21861,no rank,unclassified Pogostemon
1853809,2307112,1982086,no rank,unclassified Laroyevirus
1853810,2307129,1883,species,Streptomyces moroccanus
1853811,2307268,176019,species,Charmosyna margarethae
1853812,2307285,563835,genus,Flavipsychrobacter

In [7]:
df_delnodes = pd.DataFrame()
df_merged = pd.DataFrame()
df_delnodes = pd.read_csv('/home/acer1/Desktop/taxadmp/delnodes.dmp',delimiter='\t',header=None)
df_merged = pd.read_csv('/home/acer1/Desktop/taxadmp/merged.dmp',delimiter='\t',header=None)

In [8]:
merger_key_value = {}

In [9]:
for i in range(0,len(df_merged[0])):
    merger_key_value[df_merged[0][i]] = df_merged[2][i]

In [10]:
merger_key_value

{12: 74109,
 30: 29,
 36: 184914,
 37: 42,
 46: 39,
 67: 32033,
 76: 155892,
 77: 74311,
 79: 74313,
 80: 155892,
 90: 34102,
 91: 34103,
 111: 328552,
 121: 125,
 129: 99,
 130: 223389,
 177: 183,
 219: 210,
 229: 23,
 230: 24,
 257: 143223,
 260: 143224,
 273: 274,
 284: 80866,
 289: 47421,
 291: 40137,
 334: 50946,
 341: 456327,
 345: 40324,
 348: 29444,
 360: 359,
 362: 358,
 363: 358,
 364: 358,
 365: 358,
 366: 358,
 367: 358,
 368: 358,
 369: 358,
 383: 382,
 395: 7,
 397: 384,
 401: 400,
 412: 410,
 419: 39774,
 420: 39775,
 443: 442,
 457: 466,
 473: 107673,
 509: 85698,
 510: 106590,
 514: 518,
 515: 85698,
 530: 52959,
 557: 549,
 559: 66271,
 560: 553,
 567: 66695,
 591: 28901,
 592: 149539,
 593: 98360,
 601: 90370,
 602: 90371,
 603: 59203,
 627: 29488,
 643: 648,
 653: 29489,
 665: 55601,
 667: 51367,
 677: 90736,
 681: 669,
 684: 85581,
 692: 32013,
 705: 662,
 706: 28171,
 707: 28174,
 708: 29498,
 710: 657,
 711: 660,
 737: 732,
 746: 75985,
 748: 44283,
 778: 943,
 791: 77133,
 802: 773,
 804: 807,
 805: 33047,
 806: 38323,
 811: 83558,
 812: 83554,
 825: 28131,
 857: 143361,
 874: 899,
 877: 52561,
 887: 453230,
 900: 872,
 910: 41294,
 922: 34007,
 925: 76588,
 946: 948,
 977: 89373,
 993: 70993,
 994: 986,
 1000: 107401,
 1020: 135617,
 1024: 70993,
 1055: 1054,
 1077: 1076,
 1139: 269084,
 1141: 32046,
 1155: 129910,
 1156: 118562,
 1170: 264691,
 1171: 264691,
 1172: 264691,
 1174: 103690,
 1196: 188910,
 1212: 1213,
 1217: 1213,
 1221: 1890436,
 1230: 35798,
 1250: 33964,
 1256: 51669,
 1278: 1275,
 1289: 1309,
 1291: 1287,
 1312: 119602,
 1315: 1335,
 1330: 44008,
 1342: 41997,
 1344: 1902,
 1389: 44250,
 1403: 44252,
 1414: 86665,
 1453: 44251,
 1460: 44253,
 1463: 44161,
 1466: 78058,
 1469: 1478,
 1475: 78057,
 1546: 146817,
 1594: 1585,
 1617: 29397,
 1619: 2751,
 1644: 1641,
 1675: 1710,
 1700: 37929,
 1706: 41170,
 1723: 144185,
 1734: 29347,
 1746: 1752,
 1756: 28896,
 1761: 85007,
 1803: 36812,
 1815: 36819,
 1819: 37919,
 1820: 33910,
 1825: 1707,
 1826: 1710,
 1834: 43767,
 1840: 2045,
 1842: 52699,
 1845: 1835,
 1846: 28042,
 1864: 28056,
 1870: 1865,
 1875: 1877,
 1882: 85011,
 1899: 1892,
 1937: 68280,
 1939: 1919,
 1953: 68280,
 1959: 65497,
 1966: 66429,
 1973: 1883,
 1974: 68215,
 1975: 1931,
 1977: 97398,
 1978: 66429,
 1979: 53446,
 1980: 51201,
 1981: 35621,
 1982: 35621,
 1983: 68246,
 1984: 97400,
 1986: 1951,
 2003: 47990,
 2007: 147065,
 2008: 58118,
 2009: 58118,
 2010: 147065,
 2011: 147065,
 2027: 37482,
 2032: 33882,
 2058: 53355,
 2059: 60443,
 2069: 1970,
 2073: 1847,
 2076: 37331,
 2081: 862,
 2091: 2085,
 2126: 880447,
 2140: 2136,
 2154: 2155,
 2165: 145262,
 2166: 145262,
 2167: 145261,
 2169: 2186,
 2170: 2180,
 2185: 2163,
 2212: 2209,
 2227: 2175,
 2228: 39664,
 2240: 2242,
 2241: 2242,
 2244: 335819,
 2274: 2275,
 2282: 12914,
 2324: 1754,
 2328: 44000,
 2329: 44001,
 2338: 77133,
 2435: 36549,
 2519: 38738,
 2521: 2102,
 2610: 394,
 2703: 68335,
 2729: 118099,
 2732: 2334,
 2778: 2782,
 2780: 172962,
 2793: 35688,
 2795: 2822,
 2827: 2832,
 2839: 1514140,
 2859: 1003145,
 2863: 426639,
 2883: 2885,
 2884: 2882,
 2895: 3027,
 2906: 2907,
 2913: 160621,
 2921: 35672,
 2941: 2920,
 2956: 407301,
 2963: 326570,
 3045: 3046,
 3053: 3054,
 3058: 3055,
 3060: 35704,
 3069: 3042,
 3096: 577483,
 3115: 3118,
 3126: 33104,
 3137: 35862,
 3138: 35845,
 3184: 35436,
 3194: 3208,
 3205: 70555,
 3209: 113509,
 3235: 3236,
 3241: 3240,
 3242: 1521260,
 3243: 13836,
 3248: 1521260,
 3253: 1521258,
 3254: 1521258,
 3263: 241806,
 3286: 29607,
 3290: 241806,
 3291: 74353,
 3314: 3367,
 3361: 3324,
 3364: 56897,
 3365: 56897,
 3399: 71240,
 3405: 54732,
 3416: 3414,
 3439: 41768,
 3461: 3465,
 3473: 3744,
 3491: 3490,
 3519: 3502,
 3549: 3563,
 3556: 3555,
 3574: 37657,
 3576: 42043,
 3601: 3744,
 3611: 3610,
 3614: 3524,
 3622: 41945,
 3628: 41938,
 3639: 3629,
 3643: 3642,
 3666: 170850,
 3692: 3691,
 3698: 34292,
 3706: 3711,
 3736: 41945,
 3748: 3747,
 3757: 3755,
 3768: 4196,
 3783: 45093,
 3787: 665354,
 3789: 3776,
 3903: 3902,
 3919: 3914,
 3927: 41944,
 3943: 85636,
 3944: 85636,
 3952: 3950,
 3957: 41947,
 3976: 3646,
 4003: 3646,
 4010: 41937,
 4017: 41943,
 4021: 23672,
 4061: 4059,
 4063: 4060,
 4064: 4056,
 4080: 4107,
 4105: 4102,
 4106: 55890,
 4117: 4112,
 4127: 292919,
 4140: 54470,
 4175: 4149,
 4213: 4212,
 4259: 166919,
 4266: 3744,
 4271: 26000,
 4279: 41934,
 4293: 91835,
 4308: 4309,
 4316: 4305,
 4333: 3646,
 4334: 41945,
 4338: 41945,
 4342: 4345,
 4352: 3524,
 4379: 91882,
 4380: 4209,
 4385: 3646,
 4393: 41946,
 4394: 42216,
 4408: 3400,
 4417: 77113,
 4438: 4437,
 4440: 45172,
 4448: 16360,
 4453: 16360,
 4461: 4460,
 4468: 4454,
 4471: 161101,
 4474: 50518,
 4478: 38820,
 4482: 37682,
 4484: 4494,
 4488: 58530,
 4489: 4573,
 4495: 4595,
 4514: 112509,
 4518: 77009,
 4531: 4535,
 4542: 4543,
 4574: 4566,
 4578: 4577,
 4600: 4587,
 4602: 4588,
 4612: 91820,
 4659: 101619,
 4708: 16360,
 4709: 40551,
 4723: 40550,
 4727: 38820,
 4728: 4731,
 4730: 113279,
 4745: 73496,
 4789: 67593,
 4804: 4761,
 4845: 64495,
 4848: 101094,
 4889: 1213189,
 4905: 870730,
 4906: 907340,
 4907: 1156965,
 4916: 381046,
 4928: 599730,
 4936: 34358,
 4945: 4958,
 4946: 27300,
 4961: 4903,
 4963: 1004253,
 4971: 157611,
 4977: 42659,
 4980: 42661,
 4982: 42660,
 4984: 1390526,
 4985: 165793,
 4991: 115111,
 4994: 105982,
 5006: 13366,
 5048: 73839,
 5049: 5113,
 5055: 105351,
 5072: 162425,
 5080: 5076,
 5085: 746128,
 5096: 147546,
 5102: 33183,
 5119: 1230097,
 5122: 34373,
 5123: 62688,
 5126: 5506,
 5134: 140110,
 5137: 48558,
 5138: 148305,
 5156: 1215355,
 5165: 360148,
 5166: 360146,
 5167: 360147,
 5183: 1745343,
 5239: 107832,
 5243: 1026879,
 5273: 120017,
 5283: 231213,
 5284: 231213,
 5285: 5533,
 5287: 106023,
 5289: 231213,
 5311: 509126,
 5312: 1041196,
 5313: 5317,
 5316: 5315,
 5344: 5339,
 5348: 5346,
 5359: 94609,
 5366: 60114,
 5386: 1354920,
 5396: 72122,
 5415: 5206,
 5419: 1198485,
 5420: 107449,
 5425: 5338,
 5431: 5537,
 5437: 5002,
 5457: 474922,
 5458: 290576,
 5459: 31870,
 5484: 36911,
 5496: 13000,
 5497: 36534,
 5509: 57162,
 5510: 140110,
 5517: 57161,
 5519: 57162,
 5521: 5128,
 5522: 61235,
 5532: 1859699,
 5534: 5537,
 5545: 1490981,
 5546: 51453,
 5555: 84753,
 5556: 1895941,
 5558: 37998,
 5561: 5132,
 5563: 1682391,
 5565: 109384,
 5573: 1322061,
 5582: 176275,
 5590: 89940,
 5602: 1577605,
 5638: 1260784,
 5646: 157883,
 5662: 5671,
 5669: 44271,
 5686: 1906844,
 5713: 351713,
 5716: 1967301,
 5724: 56690,
 5766: 5768,
 5767: 166959,
 5805: 471275,
 5844: 57270,
 5856: 126793,
 5920: 5891,
 5945: 200597,
 5946: 94289,
 5951: 200607,
 5952: 5950,
 5971: 211030,
 6030: 6029,
 6031: 6029,
 6043: 6042,
 6044: 1779168,
 6048: 6042,
 6064: 6060,
 6066: 177573,
 6076: 406427,
 6081: 6083,
 6085: 6087,
 6097: 500008,
 6121: 6120,
 6128: 126732,
 6138: 655439,
 6155: 13107,
 6156: 13108,
 6224: 416868,
 6294: 6274,
 6297: 6296,
 6331: 6329,
 6352: 126592,
 6353: 880429,
 6384: 2109251,
 6402: 506672,
 6403: 55824,
 6419: 1348078,
 6422: 41324,
 6437: 360549,
 6439: 6442,
 6460: 6452,
 6461: 36095,
 6464: 87972,
 6468: 81901,
 6474: 1155699,
 6482: 57622,
 6505: 144767,
 6509: 6498,
 6517: 190915,
 6518: 589681,
 6555: 148819,
 6568: 31199,
 6583: 81899,
 6590: 1298647,
 6607: 551287,
 6617: 1423826,
 6621: 1051067,
 6633: 215440,
 6634: 6637,
 6635: 215440,
 6640: 102876,
 6642: 102876,
 6644: 267067,
 6649: 267067,
 6699: 117982,
 6748: 6744,
 6773: 116706,
 6777: 198537,
 6795: 116704,
 6803: 116706,
 6872: 42519,
 6877: 1028682,
 6897: 29932,
 6963: 6962,
 6971: 1049651,
 6985: 36952,
 6986: 36953,
 6987: 36962,
 6988: 36963,
 6991: 36964,
 6992: 36965,
 7015: 27549,
 7016: 37264,
 7017: 37265,
 7075: 7074,
 7087: 260542,
 7103: 7113,
 7104: 103830,
 7105: 271217,
 7169: 69004,
 7326: 7215,
 7383: 7386,
 7404: 178385,
 7409: 7408,
 7410: 7408,
 7413: 7408,
 7414: 7408,
 7418: 7408,
 7457: 256662,
 7499: 1912919,
 7510: 7509,
 7517: 7516,
 7545: 1418174,
 7562: 7561,
 7572: 7574,
 7605: 7604,
 7628: 7633,
 7629: 1043166,
 7665: 1328066,
 7686: 1072197,
 7690: 1902835,
 7692: 307972,
 7708: 42392,
 7749: 980415,
 7751: 245074,
 7768: 110551,
 7773: 30308,
 7785: 1870830,
 7809: 303935,
 7817: 34770,
 7846: 57983,
 7975: 98925,
 7976: 135647,
 7978: 98924,
 8003: 30771,
 8026: 74940,
 8091: 8111,
 8105: 37345,
 8106: 37346,
 8115: 63155,
 8116: 61819,
 8118: 61820,
 8119: 131240,
 8120: 61817,
 8122: 8153,
 8123: 8154,
 8140: 161276,
 8159: 349646,
 8170: 8172,
 8171: 143350,
 8188: 1489919,
 8191: 48193,
 8195: 36221,
 8198: 48415,
 8209: 202063,
 8212: 40690,
 8223: 1489894,
 8246: 1489928,
 8263: 8265,
 8390: 1978144,
 8411: 88447,
 8424: 356329,
 8470: 8469,
 8489: 260615,
 8494: 8493,
 8521: 35033,
 8529: 463545,
 8563: 96736,
 8564: 481883,
 8580: 201391,
 8581: 121327,
 8588: 8587,
 8601: 61304,
 8640: 263737,
 8641: 96794,
 8645: 8644,
 8647: 35670,
 8648: 8656,
 8650: 35670,
 8662: 8663,
 8680: 355677,
 8681: 8683,
 8701: 110226,
 8702: 110227,
 8708: 343250,
 8750: 332626,
 8760: 8759,
 8761: 8757,
 8763: 992936,
 8766: 88087,
 8768: 103944,
 8771: 88086,
 8775: 8717,
 8780: 8683,
 8791: 8790,
 8836: 75873,
 8878: 279951,
 8890: 8842,
 8891: 8849,
 8914: 1192867,
 8935: 328808,
 8989: 211679,
 8998: 466585,
 9007: 224313,
 9024: 9008,
 9025: 67771,
 9026: 67773,
 9028: 9029,
 9045: 140445,
 9047: 140446,
 9073: 9104,
 9074: 9105,
 9099: 9005,
 9110: 9114,
 9113: 9118,
 9129: 381442,
 9130: 2169681,
 9141: 9138,
 9155: 142467,
 9156: 156563,
 9189: 62155,
 9197: 1909113,
 9229: 232655,
 9236: 79626,
 9241: 8892,
 9270: 42720,
 9320: 1960649,
 9396: 37347,
 9427: 263451,
 9444: 376911,
 9457: 482537,
 9478: 1868482,
 9484: 9483,
 9492: 9481,
 9500: 182256,
 9559: 9557,
 9560: 9557,
 9563: 9555,
 9571: 164648,
 9574: 88029,
 9582: 716691,
 9584: 61852,
 9585: 61853,
 9594: 499232,
 9609: 9625,
 9610: 494514,
 9628: 9627,
 9667: 452646,
 9698: 9697,
 9795: 9794,
 9797: 9793,
 9854: 999462,
 9862: 662561,
 9907: 72004,
 9919: 89462,
 9934: 69308,
 9936: 9940,
 9941: 37176,
 9951: 66434,
 9955: 907741,
 9985: 9986,
 9990: 33553,
 9998: 99861,
 10024: 33553,
 10027: 36483,
 10050: 1047088,
 10071: 89096,
 10079: 241142,
 10109: 10103,
 10110: 254704,
 10174: 885580,
 10192: 84394,
 10198: 10197,
 10202: 10197,
 10204: 12997,
 10208: 558764,
 10287: 28321,
 10318: 10353,
 10342: 10386,
 10348: 33703,
 10352: 35243,
 10354: 10385,
 10356: 35246,
 10394: 106332,
 10396: 10353,
 10416: 106820,
 10417: 106821,
 10429: 35269,
 10446: 46015,
 10447: 307468,
 10448: 208973,
 10452: 78219,
 10458: 271108,
 10460: 161494,
 10461: 558017,
 10476: 244589,
 10488: 176652,
 10495: 36363,
 10502: 10501,
 10503: 46020,
 10504: 46020,
 10505: 36360,
 10526: 47680,
 10531: 47680,
 10536: 413684,
 10538: 130329,
 10550: 413258,
 10554: 10553,
 10559: 337052,
 10575: 1891762,
 10578: 333923,
 10581: 333760,
 10582: 333761,
 10597: 333753,
 10603: 333759,
 10612: 333763,
 10613: 333764,
 10619: 333765,
 10624: 36362,
 10625: 1891747,
 10626: 1891729,
 10627: 1891754,
 10628: 12480,
 10629: 1891762,
 10633: 1891767,
 10634: 1891730,
 10635: 157703,
 10668: 12336,
 10671: 665033,
 10675: 10766,
 10695: 31533,
 10698: 12407,
 10700: 186765,
 10706: 10849,
 10716: 10738,
 10722: 66797,
 10731: 69932,
 10741: 10750,
 10745: 110456,
 10751: 331976,
 10771: 169684,
 10777: 186153,
 10781: 1506574,
 10807: 186156,
 10810: 10809,
 10819: 222073,
 10828: 223310,
 10853: 10854,
 10857: 2003327,
 10858: 10848,
 10865: 356629,
 10870: 1977402,
 10871: 2011081,
 10873: 39804,
 10888: 10886,
 10889: 10885,
 10890: 10884,
 10896: 40050,
 10908: 40054,
 10920: 10917,
 10924: 10923,
 10930: 1835656,
 10932: 36439,
 10938: 36442,
 10940: 36441,
 10945: 31570,
 10964: 101359,
 10965: 36439,
 10966: 36439,
 10969: 444185,
 10972: 10960,
 10973: 28875,
 10974: 28876,
 10975: 12705,
 10977: 36427,
 10982: 110829,
 11017: 1511809,
 11025: 31699,
 11027: 2169701,
 11141: 12760,
 11147: 33736,
 11161: 1979165,
 11197: 11198,
 11199: 1979160,
 11200: 1979162,
 11201: 1979166,
 11202: 11216,
 11203: 1979161,
 11204: 11224,
 11205: 11226,
 11207: 1979162,
 11209: 12730,
 11212: 1979160,
 11228: 1979166,
 11230: 11234,
 11231: 351669,
 11262: 53179,
 11265: 10320,
 11267: 11266,
 11268: 205488,
 11275: 696863,
 11299: 103929,
 11321: 387139,
 11322: 385576,
 11323: 383602,
 11324: 384498,
 11325: 385630,
 11326: 385637,
 11327: 384500,
 11328: 384528,
 11329: 385629,
 11330: 385633,
 11331: 393560,
 11332: 385587,
 11333: 425557,
 11335: 384526,
 11336: 387191,
 11337: 380985,
 11341: 385586,
 11342: 385617,
 11343: 385618,
 11344: 402527,
 11345: 402520,
 11346: 385638,
 11347: 385582,
 11348: 385646,
 11349: 352520,
 11350: 383547,
 11351: 387203,
 11352: 383548,
 11353: 385590,
 11354: 383550,
 11355: 383549,
 11356: 382838,
 11358: 387207,
 11364: 352551,
 11365: 387208,
 11366: 387211,
 11367: 383553,
 11368: 383555,
 11370: 385592,
 11371: 383554,
 11372: 387212,
 11373: 385589,
 11374: 385580,
 11376: 383541,
 11377: 387147,
 11378: 393563,
 11380: 380282,
 11381: 384525,
 11382: 383551,
 11383: 392810,
 11385: 402464,
 11386: 383552,
 11387: 384499,
 11388: 385602,
 11389: 385601,
 11390: 385603,
 11391: 385626,
 11392: 385597,
 11393: 387214,
 11394: 217837,
 11395: 217835,
 11396: 217836,
 11398: 217834,
 11399: 387217,
 11400: 383543,
 11401: 385585,
 11402: 475467,
 11403: 385605,
 11404: 387219,
 11405: 475494,
 11406: 380340,
 11407: 387222,
 11409: 217831,
 11410: 506350,
 11411: 387159,
 11412: 380337,
 11413: 387229,
 11415: 217828,
 11416: 217829,
 11417: 380339,
 11419: 387234,
 11420: 393562,
 11421: 387161,
 11422: 384495,
 11423: 488241,
 11425: 387163,
 11426: 380983,
 11427: 380983,
 11428: 393557,
 11429: 384489,
 11431: 385632,
 11434: 352564,
 11435: 384502,
 11436: 384518,
 11438: 383586,
 11439: 385640,
 11440: 383571,
 11441: 383588,
 11442: 382839,
 11445: 379756,
 11446: 384505,
 11447: 385596,
 11449: 384504,
 11453: 385593,
 11454: 385624,
 11455: 211044,
 11456: 221016,
 11457: 382828,
 11458: 380343,
 11459: 384493,
 11460: 387250,
 11461: 383604,
 11463: 382781,
 11464: 402525,
 11465: 380213,
 11466: 383546,
 11467: 380285,
 11469: 380349,
 11470: 380301,
 11471: 311175,
 11472: 385636,
 11473: 385620,
 11474: 380960,
 11475: 384509,
 11476: 384510,
 11477: 384492,
 11478: 216887,
 11479: 444318,
 ...}

In [25]:
for j in range(0,len(df_merge['taxa_ids'])):
    if df_merge['taxa_ids'][j] == merger_key_value:
        df_merge['taxa_ids'][j]<-merger_key_value

In [27]:
df_merge['taxa_ids']

0                1
1                2
2                6
3                7
4                9
5               10
6               11
7               13
8               14
9               16
10              17
11              18
12              19
13              20
14              21
15              22
16              23
17              24
18              25
19              27
20              28
21              29
22              31
23              32
24              33
25              34
26              35
27              38
28              39
29              40
            ...
1853783    2306875
1853784    2306891
1853785    2306892
1853786    2306898
1853787    2306942
1853788    2306958
1853789    2306987
1853790    2306988
1853791    2306989
1853792    2306990
1853793    2306991
1853794    2306992
1853795    2306993
1853796    2306994
1853797    2306995
1853798    2306996
1853799    2306997
1853800    2306998
1853801    2306999
1853802    2307000
1853803    2307001
1853804    2307003
1853805    2307012
1853806    2307035
1853807    2307098
1853808    2307099
1853809    2307112
1853810    2307129
1853811    2307268
1853812    2307285
Name: taxa_ids, Length: 1853813, dtype: int64

In [31]:
def final(names,nodes,delnodes,merged):
      
    #import librarys.
    import csv  
    import pandas as pd
    
    #create empty DataFrame df_names and df_nodes.
    df_names = pd.DataFrame()
    df_nodes = pd.DataFrame()
    
    #read .dmp files with use of parameters.
    df_names = pd.read_csv(names,delimiter='\t',header=None)
    df_nodes = pd.read_csv(nodes,delimiter='\t',header=None)
    
    #collect usefull columns from DataFrames.
    df_nodes = df_nodes[[0,2,4]] 
    df_names = df_names[[0, 2, 6]]
    
    #apply key on column 6 in df_named and extract column 0 and 2.
    df_names = df_names[df_names[6]=='scientific name'][[0,2]]
    
    #lenth of dataframe in range(.....).
    df_names.index = range(1853798)
    
    #merge both DataFrames df_nodes and df_names in new DataFrame df_merge.
    df_merge = pd.DataFrame()
    df_merge = df_nodes.merge(df_names[[0,2]],how = "left",left_on = [0],right_on= [0])
    
    #rename columns of DataFrame df_merge.
    df_merge = df_merge.rename(columns={0:'taxa_ids','2_x':'parent_id',4:'rank','2_y':'scientfic_name'})
    
    #create empty DataFrame df_delnodes and df_merged.
    df_delnodes = pd.DataFrame()
    df_merged = pd.DataFrame()
    #read .dmp files with use of parameters.
    df_delnodes = pd.read_csv(delnodes,delimiter='\t',header=None)
    df_merged = pd.read_csv(merged,delimiter='\t',header=None)
    
    merger_key_value = {}
    
    for i in range(0,len(df_merged[0])):
        merger_key_value[df_merged[0][i]] = df_merged[2][i]
    
    for j in range(0,len(df_merge['taxa_ids'])):
        if df_merge['taxa_ids'][j] == merger_key_value:
            df_merge['taxa_ids'][j]<-merger_key_value
        
    """#creat two empty lists taxaid and taxaids assign them with set of df_merge['taxa_ids'] and df_merged[0].
    taxaid = list(set(df_merge['taxa_ids']))
    taxaids = list(set(df_merged[0]))
    
    #print common values in lists.
    print("modified values are",list(set(taxaid) & set(taxaids)))
    """

    #convert DataFrame in .csv formate and assign to file_csv .
    file_csv = df_merge.to_csv("final_file.csv")
    print ("csv file created as final_file.csv")
    
    #return file_csv
    return file_csv

In [33]:
#pass path of .dmp files in parameters.
final(names = '/home/acer1/Desktop/taxadmp/names.dmp',nodes = '/home/acer1/Desktop/taxadmp/nodes.dmp',merged = '/home/acer1/Desktop/taxadmp/merged.dmp',delnodes = '/home/acer1/Desktop/taxadmp/delnodes.dmp')

csv file created as final_file.csv